.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Ajusta el número de columnas según el contenido */
  gap: 10px;
  width: 100%;
}

.header-cell {
  font-weight: bold;
  background-color: #444; /* Color de fondo para el encabezado */
  color: white;
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

.cell {
  padding: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  text-align: left;
  background-color: #222; /* Color de fondo para las filas */
  color: white;
  word-wrap: break-word; /* Asegura que el texto se ajuste a la celda */
}